.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2a3f54;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3b5167;
  padding: 20px;
  min-height: 100vh;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.title {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.title:hover {
  cursor: pointer;
}

.description {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.timediv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.playername {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}
